{{#courses}}
<!-- Portfolio item -->
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{id}}">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="/courses/{{id}}/image" alt="{{title}}" />
        </a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{title}}</div>
            <div class="portfolio-caption-subheading text-muted">
                {{#tags}}
                <span class="badge bg-secondary">{{.}}</span>
                {{/tags}}
            </div>
        </div>
    </div>
</div>
{{/courses}}