<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="page-section" id="error">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Error</h2>
            <h3 class="section-subheading text-muted">Algo salió mal porfavor intentelo de nuevo más tarde.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
                    <i class="fas fa-exclamation-triangle fa-stack-1x" style="color: #c13333;"></i> </span>
                <h4 class="my-3">Error</h4>
                <p class="text-muted">Ha ocurrido un error inesperado.</p>
                <a class="btn btn-primary btn-xl text-uppercase" routerLink="/">
                    Volver al Inicio
                </a>
            </div>
        </div>
    </div>
</div>