<app-header></app-header>

<!-- If the user is logged -->
<div *ngIf="loginService.isLogged()" class="container mt-5 pt-5 text-center mx-auto">
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>

    <img [src]="'/courses/' + course.id + '/image'" [alt]="course.title" />

    <!-- Only admins upload material -->
    <div *ngIf="loginService.isAdmin()">
        <form (ngSubmit)="onUploadMaterial()" enctype="multipart/form-data">
            <input type="file" name="file" (change)="onFileSelected($event)" required />
            <button type="submit" class="btn btn-primary btn-sm mt-2">Subir Archivo</button>
        </form>
    </div>

    <!-- List of material -->
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8 text-start">
            <div class="card">
                <div class="card-header bg-primary text-white">Contenido</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let mat of materials">
                            <a [href]="'/courses/' + course.id + '/materials/' + mat.id + '/download'">{{ mat.name
                                }}</a>

                            <form *ngIf="loginService.isAdmin" (ngSubmit)="onDeleteMaterial(mat.id!)" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </li>
                    </ul>

                    <p *ngIf="materials.length === 0" class="text-muted text-center mt-3">
                        No hay material en estos momentos.
                    </p>

                    <div class="text-center mt-3">
                        <button class="btn btn-primary" (click)="loadMoreMaterials()">Mostrar más</button>
                        <div *ngIf="loadingMaterials" class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments -->
    <!-- Comments -->
    <div class="comment-section mt-4">
        <h3>Comentarios</h3>

        <!-- Add comment forms -->
        <form (ngSubmit)="onSubmitComment()" class="mb-4 text-start">
            <label for="newComment" class="form-label">Añadir comentario</label>
            <div style="display: flex; flex-direction: column;">
                <textarea id="newComment" class="form-control mb-2" rows="3" [(ngModel)]="newCommentText"
                    name="newCommentText" required></textarea>
                <div style="display: flex; justify-content: flex-end;">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="!newCommentText || newCommentText.trim() === ''">
                        Enviar comentario
                    </button>
                </div>
            </div>
        </form>

        <div *ngIf="comments.length > 0; else noComments">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let comment of comments">
                    <p>
                        {{ comment.user.name || 'Usuario desconocido' }}
                        comentó el {{ comment.createdDate | date: 'yyyy-MM-dd' }}:
                    </p>
                    <p>{{ comment.text }}</p>
                </li>
            </ul>
        </div>

        <ng-template #noComments>
            <p class="text-muted">No hay comentarios aún.</p>
        </ng-template>

        <div id="load-more-comment-section" class="text-center mb-4 mt-3 mx-auto">
            <button id="load-more-comment-btn" class="btn btn-primary" (click)="loadMoreComments()"
                [disabled]="loadingComments">
                Mostrar más
            </button>
            <div id="loading-comment-spinner" class="spinner-border text-primary ms-2" role="status"
                *ngIf="loadingComments">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    </div>
</div>

<!-- If user is not logged -->
<div *ngIf="!loginService.isLogged()" class="container mt-5 pt-5 text-center">
    <h1>Debes iniciar sesión para acceder a los cursos</h1>
    <div class="mt-3">
        <a [routerLink]="['/login']" class="btn btn-primary me-2">Login</a>
        <a [routerLink]="['/register']" class="btn btn-secondary">Registrarse</a>
    </div>
</div>