<app-header></app-header>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-4">
    <h3 class="text-center mb-4">Inicie sesión</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-group mb-3">
        <span class="input-group-text" id="mail-addon">👤</span>
        <input type="text" class="form-control" name="username" placeholder="Correo" required [(ngModel)]="username"/>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="password-addon">🔒</span>
        <input type="password" class="form-control" name="password" placeholder="Contraseña" required [(ngModel)]="password"/>
      </div>

      <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
    </form>

    <p class="text-muted text-center">
      O si no tiene cuenta, <a routerLink="/register">regístrese aquí</a>
    </p>
  </div>
</div>