<app-header></app-header>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <h3 class="text-center mb-4">Crear curso</h3>
        <form (ngSubmit)="createCourse()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-addon"></span>
                <input type="text" class="form-control" name="title" placeholder="Nombre del curso"
                    aria-label="Nombre del curso" aria-describedby="course-name-addon" [(ngModel)]="courseTitle" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="tags-addon"></span>
                <input type="text" class="form-control" name="tags" [(ngModel)]="courseTags" placeholder="Tags (separados por comas)"
                    aria-label="Tags" aria-describedby="tags-addon">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="image-addon"></span>
                <input type="file" class="form-control" name="imageField" (change)="onImageSelected($event)" accept="image/*" aria-label="Imagen del curso"
                    aria-describedby="image-addon">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="description-addon"></span>
                <textarea class="form-control" name="description" placeholder="Descripción" [(ngModel)]="courseDescription" aria-label="Descripción"
                    aria-describedby="description-addon" required></textarea>
            </div>


            <button type="submit" class="btn btn-primary w-100">Crear curso</button>
        </form>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>